.about-page-wrapper {
   
    // width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // height: calc(100vh - 84px);

    @media (max-width: 500px) {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }


    .left-column {
        margin-bottom: 5px;
        margin-left: 5px;
        
        @media (max-width: 500px) {
            display: flex;
            align-content: center;
            justify-content: center;
            padding-top: 20px;
        }

        .about-page-image {
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;
            max-width: 500px; 
            width: 100%;
            padding: 100px;

            @media (max-width: 500px) {
                width: 200px;
                height: 200px;
                padding: 0px;
                display: flex;
                align-content: center;
                justify-content: center;
            }
        }
    }

    .right-column {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 100px;
        font-size: 1.5rem;

        @media (max-width: 500px) {
            padding: 30px;
        }
        .title {
            padding: 20px;
        }
    }
}


