.business-wrapper {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-gap: 50px;

    // .wedding-videos-wrapper {

    // }

    .business-vid-one {
        padding-bottom: 50px;
    }

    .business-vid-two {
        padding-bottom: 50px;
    }
    .business-title {
    font-size: 2rem;
    display: grid;
    justify-content: center;
    padding-top: 50px;
    }
}