.business-wrapper {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-gap: 50px;

    .business-videos-wrapper {
        display: grid;
        grid-gap: 50px;
    }

    .business-vid {
        position: relative;
        padding-bottom: 56.25%;
        height: 0px;
        width: 650px;
        @media (max-width: 700px) {
            width: 300px;
        }
    }

    .business-vid-one {
        position: absolute;
        top: 0;
        left: 0;  
    }

    .business-vid-two {
        position: absolute;
        top: 0;
        left: 0;
    }
    .business-title {
    font-size: 2rem;
    display: grid;
    justify-content: center;
    padding-top: 50px;
    }
}