.contact-wrapper {
    display: grid;
    // justify-content: center;
  
    .contact-title {
    font-size: 2.5rem;
    display: grid;
    justify-content: center;
    padding-top: 50px;
    }

   

    .contact-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // align-items: center;
    // justify-content: center; 
    @media (max-width: 500px) {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 10px;
    }
    
    .left-column-contact {
        display: flex;
        justify-content: center;
        .about-page-image {
            width: 100%;
            max-width: 500px;
            height: auto;
            
            @media (max-width: 500px) {
                width: 250px;
                height: auto;
                padding-top: 30px;
            }
        }
    }
    .right-column {
        display: flex;
        justify-content: center;
        align-items: center;
        // padding: 100px;
       
    .contact-bullet-points {
        display: grid;

        // grid-template-columns: 1fr;
        grid-gap: 15px;

        .contact-info-price {
            font-size: 2rem;
            display: grid;
            justify-content: center;
            @media (max-width: 500px) {
                font-size: 1.5rem
            }
        }

        .bullet-point-group {
            display: flex;
            align-items: center;

            .icon {
                font-size: 2em;
                @media (max-width: 500px) {
                    font-size: 1.25rem;
                }
            }

            .text {
                font-size: 2em;
                font-weight: 900;
                margin-left: 21px;
                
                @media (max-width: 500px) {
                    font-size: 1.25rem;
                    font-weight: 600;
                    margin-left: 15px;
                }
                a {
                    text-decoration: none;
                    color: black;
                    &:hover {
                    color: #C0C0C0;
                    transition: ease-in;
                    }
                }
            }
        }
      }
    }
    }
}