.header-wrapper {
    height: 65px;
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    // display: grid;
    // grid-template-rows: [homepage-link-s] 1fr [homepage-link-e links-wrapper-s] 1fr [links-wrapper-e];
    // justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;

    padding: 20px;

  .homepage-link {
    //   display: grid;
    //   justify-content: center;
    font-size: 1.5rem;
      a {
      color: black;
      text-decoration: none;
      &:hover {
          color: green;
      }
    }
  }

//   .links-wrapper {
//       display: grid;
//       grid-template-columns: 1fr 1fr 1fr 1fr;
//   }

  .nav-link-wrapper {
     height: 22px;
     border-bottom: 1px solid transparent;
     transition: 0.5s ease-in-out;
     margin-right: 20px;
     text-transform: uppercase;
     font-size: 1.5rem;

    

     a {
         color: black;
         text-decoration: none;
         &:hover {
            color: black;
        }
     }

     &:hover {
         border-bottom: 1px black;
     }
     .nav-link-active {
        border-bottom: 1px solid black;
            color: black;
    }
  }

}